<div class="language-selector">
  <select id="languageSelect">
    <option value="en" <%= user.language === 'en' ? 'selected' : '' %>>English</option>
    <option value="hi" <%= user.language === 'hi' ? 'selected' : '' %>>हिन्दी (Hindi)</option>
    <option value="ta" <%= user.language === 'ta' ? 'selected' : '' %>>தமிழ் (Tamil)</option>
    <option value="te" <%= user.language === 'te' ? 'selected' : '' %>>తెలుగు (Telugu)</option>
    <option value="or" <%= user.language === 'or' ? 'selected' : '' %>>ଓଡ଼ିଆ (Odia)</option>
    <option value="pa" <%= user.language === 'pa' ? 'selected' : '' %>>ਪੰਜਾਬੀ (Punjabi)</option>
    <option value="mr" <%= user.language === 'mr' ? 'selected' : '' %>>मराठी (Marathi)</option>
    <option value="bn" <%= user.language === 'bn' ? 'selected' : '' %>>বাংলা (Bengali)</option>
    <option value="gu" <%= user.language === 'gu' ? 'selected' : '' %>>ગુજરાતી (Gujarati)</option>
    <option value="kn" <%= user.language === 'kn' ? 'selected' : '' %>>ಕನ್ನಡ (Kannada)</option>
  </select>
</div>
